## Exercise 21: Working with Python Lists

In [1]:
shopping = ["bread","milk", "eggs"]

In [2]:
print(shopping)

['bread', 'milk', 'eggs']

In [3]:
# An example of how to iterate over a list
for item in shopping:
    print(item)

bread
milk
eggs

In [4]:
# An exampple of mixed data types within a list
mixed = [365, "days", True]

In [5]:
print(mixed)

[365, 'days', True]

## Exercise 22: Using a Nested List to Store Data from a Matrix

In [10]:
# An example of how a  nested list of lists is coded
matrix = [[1, 2, 3], [4, 5, 6]]

In [11]:
# This example will output the element 5 in the list at index position 1
print(matrix[1][1])

5

In [13]:
# An example of how to iterate over a nested list
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        print(matrix[i][j])

1
2
3
4
5
6

In [14]:
# A more pythonic way to iterate over a list of lists
for row in matrix:
    for col in row:
        print(col)

1
2
3
4
5
6

## Exerecise 23: Implementing Matrix Operations (Addition and Subtraction)

In [20]:
X = [[1,2,3],
     [4,5,6],
     [7,8,9]]

Y = [[10,11,12],
     [13,14,15],
     [16,17,18]]

In [21]:
# Initialize a result placeholder
result = [[0,0,0], 
          [0,0,0], 
          [0,0,0]]

In [22]:
# Iterate through rows
for i in range(len(X)):
    # Iterate through columns
    for j in range(len(Y)):
        result[i][j] = X[i][j] + Y[i][j]

print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [28]:
X = [[10,11,12],
     [13,14,15],
     [16,17,18]]

Y = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [29]:
# Initialize a result placeholder
result = [[0,0,0], 
          [0,0,0], 
          [0,0,0]]

In [30]:
# Subtraction uses the same algorithm but with the subtraction operator
for i in range(len(X)):
    for j in range(len(Y)):
        result[i][j] = X[i][j] - Y[i][j]

print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

## Exercise 24: Implementing Matrix Operations (Multiplication)

In [2]:
X = [[1, 2], 
     [4, 5], 
     [3, 6]]

Y = [[1,2,3,4],
     [5,6,7,8]]

In [4]:
result = [[0, 0, 0, 0], 
          [0, 0, 0, 0], 
          [0, 0, 0, 0]]

In [5]:
# Iterating by row of X
for i in range(len(X)):
    
    # Iterating by columns of Y
    for j in range(len(Y[0])):
        
        # Iterating by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

In [6]:
for r in result: 
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

## Exercise 25: Basic List Operations

In [7]:
shopping = ["bread","milk", "eggs"]

In [8]:
# Outputs the length of the shopping list
print(len(shopping))

3

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [10]:
# Concatenate list1 and list2
final_list = list1 + list2

In [11]:
# Output the result
print(final_list)

[1, 2, 3, 4, 5, 6]

In [12]:
list3 = ['oi']

In [13]:
# Repeat the element in list3 a number of times and output the result
print(list3 * 3)

['oi', 'oi', 'oi']

## Exercise 26: Acessing an Item from Shopping List Data

In [14]:
shopping = ["bread","milk", "eggs"]

In [16]:
# Output the second element of the shopping list
print(shopping[1])

milk

In [17]:
# Replace the second element in the shopping list with "banana"
shopping[1] = "banana"

In [19]:
# Print out the shopping list
print(shopping)

['bread', 'banana', 'eggs']

In [20]:
# Prints out the last element of the shopping list
print(shopping[-1])

eggs

In [21]:
# Prints out the first 2 elements of the shopping list
print(shopping[0:2])

['bread', 'banana']

In [22]:
# Prints out the first 3 elements of the shopping list
print(shopping[:3])

['bread', 'banana', 'eggs']

In [23]:
# Prints out the last 2 elements of the shopping list
print(shopping[1:])

['banana', 'eggs']

## Exercise 27: Adding Items to Our Shopping List

In [1]:
shopping = ["bread", "milk", "eggs"]

In [2]:
# Adds the string "apple" to end of our shopping list
shopping.append("apple")

In [3]:
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [4]:
# Initialize an empty shopping list
shopping = []

In [5]:
# Add items to the shopping list
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')

In [6]:
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [7]:
# Add a shopping item to the shopping list at the desired position
shopping.insert(2, 'ham')

In [8]:
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

## Exercise 28: Using a Dictionary to Store a Movie Record

In [10]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

In [11]:
# Outputs the value 1972
print(movie["year"])

1972

In [12]:
# Updates the value 9.2 by adding 9.3 to it and dividing by 2
movie["rating"] = (movie["rating"] + 9.3) / 2

In [13]:
print(movie["rating"])

9.25

In [15]:
# Initialize an empty dictionary
movie = {}

In [18]:
# Add key-value pairs to the dictionary
movie["title"] = "The Godfather"
movie["director"] = "Francis Ford Coppola"
movie["year"] = 1972
movie["rating"] = 9.2

In [19]:
# Adds a key-value pair where the value is a list
movie["actors"] = ["Marlon Brando", "Al Pacino", "James Caan"]

In [20]:
# Adds a key-value pair where the value is also a dictionary
movie["other details"] = {
    "runtime": 175,
    "language": "English"
}

In [21]:
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other details': {'runtime': 175, 'language': 'English'}}

## Exercise 29: Using the `zip()` Method to Manipulate Dictionaries

In [1]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [2]:
# Combine both the items list and the quantity list using zip()
orders = zip(items, quantity)

In [3]:
# This will output a zip object
print(orders)

<zip object at 0x000001B150D55D00>

In [4]:
# This will output an orders list 
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [5]:
# This will turn a zip object into a tuple
orders = zip(items,quantity)

In [6]:
print(orders)

<zip object at 0x000001B150C53C80>

In [7]:
# This will output an orders tuple
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [8]:
# This will turn a zip object into a dictionary
orders = zip(items, quantity)

In [9]:
print(orders)

<zip object at 0x000001B150D4F600>

In [10]:
# This will output an orders dictionary
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

## Exercise 30: Accessing a Dictionary Using Dictionary Methods

In [11]:
orders = {'apple':5, 'orange':3, 'banana':2}

In [12]:
# This prints out the values as a dictionry object
print(orders.values())

dict_values([5, 3, 2])

In [14]:
# This prints out the values of the dictionary as a list
print(list(orders.values()))

[5, 3, 2]

In [15]:
# This prints out the keys of the dictionary as a list
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [17]:
# This prints out the keys and values of the dictionary as a tuple
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## Exercise 31: Exploring Tuple Properties in Our Shopping List

In [1]:
# Initialize a tuple shopping list
t = ("bread", "milk", "eggs")

In [2]:
# Print out the length of the shopping list
print(len(t))

3

In [5]:
# This creates a new tuple with the concatenated values.
print(t + ('apple', 'orange'))

('bread', 'milk', 'eggs', 'apple', 'orange')

In [6]:
# Look t has not been changed!
print(t)

('bread', 'milk', 'eggs')

In [8]:
# This creates a tuple with mixed data types
t_mixed = "apple", True, 3

In [9]:
# Print out t_mixed
print(t_mixed)

('apple', True, 3)

In [12]:
# This creates a nested tuple with mixed data types
t_shopping = ('apple',3), ('orange',2), ('banana',5)

In [13]:
# Print out t_shopping
print(t_shopping)

(('apple', 3), ('orange', 2), ('banana', 5))

## Exercise 32: Using Sets in Python

In [23]:
# Initialize a group of sets.
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([1,2,2,3,4,4,5,6,6])
s3 = set([3,4,5,6,6,6,1,1,2])

In [24]:
# Print out the group.
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [26]:
# Initilize a set of strings.
s4 = {"apple", "orange", "banana"}

In [27]:
# Print out the set.
print(s4)

{'apple', 'banana', 'orange'}

In [28]:
# Add the string "pineapple" to the set s4.
s4.add('pineapple')

In [29]:
# Print out the set
print(s4)

{'apple', 'banana', 'orange', 'pineapple'}

## Exercise 33: Implementing Set Operations

In [1]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [3]:
# Prints out the Union of s5 and s6
print(s5|s6)

{1, 2, 3, 4, 5, 6}

In [7]:
# Alternative
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}

In [5]:
# Prints out the Intersecton of s5 and s6
print(s5 & s6)

{3, 4}

In [6]:
# Alternatively
print(s5.intersection(s6))

{3, 4}

In [8]:
# Prints out the Differnce of s5 and s6
print(s5 - s6)

{1, 2}

In [9]:
# Alternatively
print(s5.difference(s6))

{1, 2}

In [10]:
# Is one set a proper subset of the other
print(s5 <= s6)

False

In [11]:
# Alternatively
print(s5.issubset(s6))

False

In [12]:
s7 = {1, 2, 3}
s8 = {1, 2, 3, 4, 5}

In [14]:
print(s7 <= s8)

True

In [16]:
print(s7.issubset(s8))

True

In [17]:
# A formal check on whether a set is a subset of another were they can't be equal.
print(s7 < s8)

True

In [18]:
# If they are equal False will be returned with a formal check.
s9 = {1, 2, 3}
s10 = {1, 2, 3}

In [20]:
print(s9 < s10)
print(s9 <= s10)

False
True

In [22]:
# Is one set a superset of another
print(s8 >= s7)

True

In [23]:
# Alternatively
print(s8.issuperset(s7))

True

In [24]:
# A formal check on whether a set is superset of another were they can't be equal.
print(s8 > s7)

True

In [25]:
print(s9 > s10)

False