## Activity 6: Using a Nested List to Store Employee Data

In [53]:
# Initialize an employees nested list
employees = [["John McKee", 38, "Sales"], ["Lisa Crawford", 29, "Marketing"], ["Sujan Patel", 33, "HR"]]

In [54]:
# Output the employees list
print(employees)

[['John McKee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [56]:
# Output the details of all employees in a presentable format
for i in range(len(employees)):
    print("Name: {}".format(employees[i][0]))
    print("Age: {}".format(employees[i][1]))
    print("Department: {}".format(employees[i][2]))
    print(20 * "-")

Name: John McKee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [57]:
# Output the details of "Lisa Crawford" in presentable format
print(employees[1][0:])
print("Name: {}".format(employees[1][0]))
print("Age: {}".format(employees[1][1]))
print("Department {}".format(employees[1][2]))
print(20 * "-")

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department Marketing
--------------------

## Activity 7: Storing Company Employee Table Data Using a List and a Dictionary

In [5]:
# Initialize an emplty list
employees = []

In [6]:
# Create an employee1 dicitonary
employee1 = {
    "name": "John McKnee",
    "age": 38,
    "department": "Sales"
}

In [7]:
# Create an employee2 dictionary
employee2 = {
    "name": "Lisa Crawford",
    "age": 29,
    "department": "Marketing"
}

In [8]:
# Create an employee3 dictionary
employee3 = {
    "name": "Sujan Patel",
    "age": 33,
    "department": "HR"
}

In [9]:
# Add the dictionaries to the employees list
employees.append(employee1)
employees.append(employee2)
employees.append(employee3)

In [10]:
print(employees)

[{'name': 'John McKnee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [49]:
# Output the employees details in a presentable format
for employee in employees:
    print("Name: {}".format(employee['name']))
    print("Age: {}".format(employee['age']))
    print("Department: {}".format(employee['department']))
    print('-' * 20)

Name: John McKnee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [51]:
# Print out the details of employee "Sujan Patel" in a presentable format
for employee in employees:
    if employee["name"] == "Sujan Patel":
        print("Name: {}".format(employee['name']))
        print("Age: {}".format(employee['age']))
        print("Department: {}".format(employee['department']))
        print('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------