## Exercise 34: Writing and Executing Our First Script

In [4]:
import math

In [5]:
# Initialize a new list
numbers = [5, 7, 11]

In [6]:
# Compute the sum of the factorials for each element in the numbers list.
result = sum([math.factorial(n) for n in numbers])

In [7]:
# Print out the result
print(result)

39921960

## Exercise 35: Writing and Importing Our First Module

In [8]:
import math

In [9]:
# Compute the factorials of each element in a given list.
def compute(numbers):
    return ([math.factorial(n) for n in numbers])

In [10]:
# Execute the function
compute([5, 7, 11])

[120, 5040, 39916800]

## Exercise 36: Adding a Docstring

In [11]:
import math

In [12]:
# This is an example of how to input Doctrings into a function.
def compute(numbers):
    """ This script computes the sum of the factorial of a list of numbers"""
    return ([math.factorial(n) for n in numbers])

## Exercise 37: Finding the System Date

In [1]:
# Create a docstring
""" This script prints the current system date."""

' This script prints the current system date.'

In [2]:
# Import the datetime module
import datetime

In [3]:
# Print out the current date
print(datetime.date.today())

2021-06-12

## Exercise 38: The Maximum Number

In [1]:
# STEP 1: Initialize a list of numbers
l = [4, 2, 7, 3]

In [2]:
# STEP 2: Intialize a variable maximum to 0
maximum = 0

In [3]:
# STEP 3: Look through each number, and campare to maximum
for number in l:
    if number > maximum:
        maximum = number

In [4]:
# STEP 4: Print out maximum
print(maximum)

7

## Exercise 39: Using Bubble Sort in Python

In [5]:
# Initialize your list
l = [5, 8, 1, 3, 2]

In [6]:
# Create an indicator that will tell us when you can stop looping through the array:
still_swapping = True

In [8]:
# Look through each number and compare it to maximum
while still_swapping:
    still_swapping = False
    for i in range(len(l) - 1):
        if l[i] > l[i+1]:
            l[i], l[i+1] = l[i+1], l[i]
            still_swapping = True

In [10]:
# Print out the result
l

[1, 2, 3, 5, 8]

## Exercise 40: Linear Search in Python

In [5]:
# Initialise a list of numbers,
l = [5, 8, 1, 3, 2]

In [6]:
# Initialise your search variable.
search_for = 8

In [7]:
# Initialise a variable result to -1 and print this out if your search criteria is not met.
result = -1

In [8]:
# Perform a linear search through the list l.
for i in range(len(l)):
    if search_for == l[i]:
        result = i
        break

In [9]:
# Print out the result.  Note: The value of result is the index position in the list l of the search_for variable.
print(result)

1

## Exercise 41: Binary Search in Python

In [10]:
# Initilise a list of numbers.
l = [2, 3, 5, 8, 11, 12, 18]

In [11]:
# Initialise your search variable.
search_for = 11

In [12]:
# Initialize the start and end values for your list.
slice_start = 0
slice_end = len(l) - 1

In [13]:
# Create an indicator that will tell us when you can stop looping through the array.
found = False

In [16]:
while slice_start <= slice_end and not found:
    location = (slice_start + slice_end) // 2  # Find the mid-point of the list.
    if l[location] == search_for:  # Check if the mid-point value is equal to search_for variable.
        found = True
    else:
        if search_for < l[location]:  # If the search_for variable is less than the value in location remove either the left ot right side if the list upto search_for
            slice_end = location - 1
        else:
            slice_start = location + 1

In [17]:
# Print out the values of found and location where location returns the index position of the value search_for in the l list.
print(found)
print(location)

True
4

## Exercise 42: Defining and Calling the Function in Shell

In [1]:
def get_second_element(mylist):
    """This function returns the second element of a list."""
    if len(mylist) > 1:
        return mylist[1]
    else:
        return "List was too small"

In [2]:
# Call the function
get_second_element([1, 2, 3])

2

In [3]:
# Call the function with a length of 1
get_second_element([1])

'List was too small'

## Exercise 43: Defining and Calling the Function in Python Script

In [8]:
def list_product(my_list): 
    """This function returns the product of the elements of my_list"""
    result = 1
    for number in my_list: 
        result = result * number
    return result

In [13]:
# Print out some test cases
print(list_product([2, 3]))
print(list_product([2, 10, 15]))

6
300

## Exercise 45: Defining the Function with Keyword Arguments

In [14]:
def add_suffix(suffix='.com'):
    """This function concatenates the string 'google' with a suffix"""
    return 'google' + suffix

In [15]:
# Call the function without an argument.
add_suffix()

'google.com'

In [16]:
# Call the function with an argument.
add_suffix('.co.uk')

'google.co.uk'

## Exercise 46: Defining the Function with Positional and Keyword Arguments

In [19]:
def convert_usd_to_aud(amount, rate=0.75):
    """Return amount divided by rate"""
    return amount / rate

In [20]:
# Call the function using the keyword argument.
convert_usd_to_aud(100)

133.33333333333334

In [21]:
# Call the function with a different rate value.
convert_usd_to_aud(100, rate=0.78)

128.2051282051282

## Exercise 47: Using **kwargs

In [22]:
def convert_usd_to_aud(amount, rate=0.75):
    """Return amount divided by rate"""
    return amount / rate

In [23]:
def convert_and_sum_list(usd_list, rate=0.75):
    """Call the function convert_usd_to_aud on usd_list and sum the results"""
    total = 0
    for amount in usd_list:
        total += convert_usd_to_aud(amount, rate=rate)
    return total

In [24]:
print(convert_and_sum_list([1, 3]))

5.333333333333333

In [27]:
def convert_and_sum_list_kwargs(usd_list, **kwargs):
    """Call the function convert_usd_to_aud on usd_list specifying a rate then sum the results"""
    total = 0
    for amount in usd_list:
        total += convert_usd_to_aud(amount, **kwargs)
    return total

In [28]:
print(convert_and_sum_list_kwargs([1, 3], rate=0.8))

5.0

## Exercise 48: A Simple Function with a for Loop

In [1]:
def sum_first_n(n):
    """Sum the first n consecutive numbers and return the result"""
    result = 0
    for i in range(n):
        result += i + 1
    return result

In [3]:
# Print out the sum of the first 100 numbers
sum_first_n(100)

5050

## Exercise 49: Exiting the Function During the for Loop

In [2]:
def is_prime(x):
    """This function checks whether a given input is prime"""
    for i in range(2, x):
        if (x % i) == 0:
            return False
    return True

In [3]:
# Test case 1
is_prime(7)

True

In [4]:
# Test case 2
is_prime(1000)

False

## Exercise 50: Recursive Countdown

In [1]:
def countdown(n):
    """Tnis function counts down from n to 0."""
    if n == 0:
        print('liftoff!')
    else:
        print(n)
        return countdown(n - 1)

In [2]:
# Call the function
countdown(3)

3
2
1
liftoff!

## Exercise 51: Factorials with Iteration and Recursion

In [3]:
def factorial_iterative(n):
    """An iterative approach to the factorial problem."""
    result = 1
    for i in range(n):
        result *= i + 1
    return result

In [4]:
# Call the function
factorial_iterative(5)

120

In [9]:
def factorial_recursive(n):
    """A recursive approach to the factorial problem."""
    if n == 1:
        return 1
    else:
        return n * factorial_recursive(n - 1)

In [10]:
# Call the function
factorial_recursive(5)

120

## Exercise 52: Summing Integers

In [3]:
# Initialize an empty dictionary
stored_results = {}

In [4]:
# Write a sum_to_n function that starts with result = 0.
def sum_to_n(n):
    result = 0

In [5]:
# Add in a loop that computes the sum, returns the result, and stores the result in our dictionary.
def sum_to_n(n):
    result = 0
    for i in reversed(range(n)):
        result += i + 1
        stored_results[n] = result
    return result

In [6]:
# Check in each loop whether you already have a result for this number; if so, use the stored result and exit the loop.
def sum_to_n(n):
    result = 0
    for i in reversed(range(n)):
        if i + 1 in stored_results:
            print('Stopping sum at %s because we have previously computed it' % str(i + 1))
            result += stored_results[i + 1]
            break
        else:
            result += i + 1
    stored_results[n] = result
    return result

In [7]:
# Test case 1
sum_to_n(5)

15

In [8]:
# Test case 2
sum_to_n(6)

Stopping sum at 5 because we have previously computed it

21

## Exercise 53: Timing Your Code

In [11]:
# Import your time module
import time

In [ ]:
stored_results = {}

In [14]:
def sum_to_n(n):
    # Start time
    start_time = time.perf_counter()  
    
    result = 0
    for i in reversed(range(n)):
        if i + 1 in stored_results:
            print('Stopping sum at %s because we have previously computed it' % str(i + 1))
            result += stored_results[i + 1]
            break
        else:
            result += i + 1
    stored_results[n] = result
    
    # End time
    print(time.perf_counter() - start_time, "seconds")

In [15]:
sum_to_n(1000000)

Stopping sum at 6 because we have previously computed it
0.17620420000002923 seconds

## Exercise 54: Helper Currency Conversion

In [1]:
# Currency converter function
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += amount_in_aud * 0.78
    total += amount_in_gbp * 1.29
    return total

In [2]:
# Test case 1
compute_usd_total(amount_in_gbp=10)

12.9

In [3]:
# Create a currency conversion function with an optional margin:
def convert_currency(amount, rate, margin=0):
    return amount * rate * (1 + margin)

In [4]:
# Modify the original function to use the helper function:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += convert_currency(amount_in_aud, 0.78)
    total += convert_currency(amount_in_gbp, 1.29)
    return total

In [11]:
# Test case 2
compute_usd_total(amount_in_gbp=10)

12.9

In [13]:
# This example adds a 1% margin for the conversion of the GBP component
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += convert_currency(amount_in_aud, 0.78)
    total += convert_currency(amount_in_gbp, 1.29, 0.01)
    return total

In [14]:
# Test case 3
compute_usd_total(amount_in_gbp=10)

13.029

## Exercise 55: The First Item in a List

In [4]:
# Store the 0th index in the variable first_item using lambda function syntax
first_item = lambda my_list: my_list[0]

In [6]:
# Test the function
first_item(['cat', 'dog', 'mouse'])

'cat'

## Exercise 56: Mapping with a Logistic Transform

In [1]:
import math

In [3]:
# Initialize a list 
nums = [-3, -5, 1, 4]

In [5]:
# Use a lambda function to map the list of values using a logistic transform
list(map(lambda x: 1 / (1 + math.exp(-x)), nums))

[0.04742587317756678,
 0.0066928509242848554,
 0.7310585786300049,
 0.9820137900379085]

## Exercise 57: Using the Filter Lambda

In [1]:
# Initialize a list of numbers from 0 to 999
nums = list(range(1000))

In [2]:
# Filter out the values that are divisible by 3 or 7
filtered = filter(lambda x: x % 3 == 0 or x % 7 == 0, nums)

In [3]:
# Add up the list
sum(filtered)

214216